atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

bundler/bundle.symlink/cache/

git/gitconfig.local.symlink
bundler/bundle.symlink/ruby/
vscode.symlink/extensions
