"*":
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    projectHome: "/Users/tvd/code"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "behave-theme"
    ]
  editor:
    fontFamily: "Input"
    fontSize: 15
    lineHeight: 1.75
    preferredLineLength: 100
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "94dc9480-5635-4180-9d97-025193f613ed"
  "linter-ui-default": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "ruby-test":
    rspecAllCommand: "bundle exec rspec --tty spec"
    rspecFileCommand: "bundle exec rspec --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
    specFramework: "rspec"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
